<div class="card-group mx-5 mt-3">
    <% @rooms.first(2).each do |room| %>
        <div class="card mx-4" style="width: 18rem;">
            <% if room.images.any? %>
                <%= image_tag room.images.first.image, class: "d-block mx-auto img-fluid w-100" %>
            <% else %>
                <%= image_tag "no_image.jpg", class: "d-block mx-auto img-fluid w-100" %>
            <% end %>
                <div class="card-body">
                    <h4 class="card-text"><%= link_to room.listing_name, room_path(room.id) %></h4>
                    <p class="card-text"><%= room.summery %></p>
                </div>
        </div>
    <% end %>
</div>


