<div class="card-group mx-5 mt-3">
    <% @rooms.first(2).each do |room| %>
        <div class="card mx-4" style="width: 18rem;">
            <%= image_tag room.images.first.image, class: "d-block mx-auto img-fluid w-100" %>
                <div class="card-body">
                    <h4 class="card-text"><%= room.listing_name %></h4>
                    <p class="card-text"><%= room.summery %></p>
                </div>
        </div>
    <% end %>
</div>


