<div class="card-group mx-5 mt-3">
    <div class="card mx-4" style="width: 18rem;">
        <%= image_tag "house1.jpeg", class: "d-block mx-auto img-fluid w-100" %>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mx-4" style="width: 18rem;">
        <%= image_tag "house2.jpg", class: "d-block mx-auto img-fluid w-100" %>    
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>